*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            text-decoration: none;
            list-style: none;
        }
        
        
        .sliderWrap{
            /*width: 800px;*/
            width: 100%;
             height: 400px;
            overflow: hidden;
            margin: 50px auto;
        }
        
        .navigate{
            width: 15%;
            height: 100%;
            float: left;
            cursor: pointer;
              background-size: auto 100%!important;
            position: relative;
        }
        
        .slidesWrap{
            width: 70%;
            height: 100%;
           float: left;
        }
        .slider, .slide, img{
            width: 100%;
            height: 100%;
        }
        
#prev{
    box-shadow: 0px 0px 1px 3px white;
    border-right: 5px solid white;
}

#next{
    box-shadow: 0px 0px 1px 3px white;
    border-left: 5px solid white;
}

.slidesWrap{
    box-shadow: 0px 0px 1px 2px rgba(255,255,255,.8);
     border-left: 5px solid white;
    border-right: 5px solid white;
}

.slider:after{
    display: inline-block;
    content: "";
    clear: both;
}


#prev span{
    position: absolute;
    top: 50%;
    width: 50px;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    font-size: 60px;
    color: rgba(255,255,255,.8);
    text-align: center;
    left: 0;
    font-family:monospace;
    width: 50px;
    height: 50px;
     display: inline-block;
    vertical-align: middle;
    line-height: 0.7em;
    border-radius: 2px;
    
}

#next span{
    position: absolute;
    top: 50%;
    background: rgba(0,0,0,0.7);
    font-size: 60px;
    color: rgba(255,255,255,.8);
    text-align: center;
    right: 0;
    font-family:monospace;
    width: 50px;
    height: 50px;
     display: inline-block;
    vertical-align: middle;
    line-height: 0.7em;
    border-radius: 2px;
}


